@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default Body Styling */
body {
    font-family: 'Inter', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

/* General Typography */
p {
    font-size: 1rem;
    line-height: 1.5;
}
}
